.md-grid {
  max-width: 90%;
}
:root {
  --md-primary-fg-color: #4B5575;
  --md-code-fg-color: blue;
} 

/* Make pages beneath sections visibly indented */
.md-nav--primary .md-nav .md-nav__link {
  margin-left: 1rem;
}